fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
langchain-groq
chromadb
sentence-transformers
pydantic
pydantic-settings
pandas
numpy
python-multipart
pypdf
python-docx
python-dotenv
